<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TP 1 EDM</title>
</head>

<body>
 <h1>TP1: EJERCICIOS</h1>
 <ul>
	        <li><a href="resolverPunto1?num=4">Punto 1</a></li>
	         <li><a href="resolverPunto2?yy=2020">Punto 2</a></li>
	          <li><a href="resolverPunto3?num1=8">Punto 3</a></li>
	            <li><a href="resolverPunto4?num=5">Punto 4</a></li>
	            <li><a href="resolverPunto6?num=4">Punto 6</a></li>
	            <li><a href="resolverPunto8?">Punto 8</a></li>
	            <li><a href="resolverPunto9?">Punto 9</a></li>
	            <li><a href="resolverPunto10?">Punto 10</a></li>
	             <li><a href="resolverPunto11?">Punto 11</a></li>
	           <li><a href="resolverPunto12?height=10">Punto 12</a></li>
	    </ul>
</body>
</html>